<div class="col-12">
	<div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
		<div class="carousel-inner">
			{% for comment in bestComments %}
				{% if comment.isApproved %}
					<div class="carousel-item {{ (loop.first ) ? 'active' : '' }}  text-center">
					 <img src="/assets/images/devis.png" alt="citation"
class="img-fluid mb-4" style="width: 40px;"/>
						<p class="fw-bold">{{ comment.subject|raw }}</p>
						<p>{{ comment.content|raw }}</p>
						<p>Note:
							{{ comment.mark }}/5</p>
						<p>{{ comment.commentator }}</p>
					</div>
				{% endif %}
			{% endfor %}

		</div>
	</div>

