<div class="mt-4 container">
	<div class="comments">
		<div class="comments__new">
			<div class="w-50 ms-4">
				{{ form_start(commentForm) }}
				{{ form_errors(commentForm) }}
				<div class="mb-3">
					{{ form_row(commentForm.subject) }}
				</div>
				<div class="mb-3">
					{{ form_row(commentForm.content) }}
				</div>
				<div class="mb-3">
					{{ form_row(commentForm.author) }}
				</div>
				<div class="mb-3">
				<h5>Note:</h5>
					{{ form_widget(commentForm.mark) }}
				</div>
				<div class="mb-3">
					{{ form_row(commentForm.submit) }}
				</div>
				<div class="mb-3">
					{{ form_end(commentForm) }}
				</div>
			</div>
