<nav class="navbar navbar-expand-lg navbar-dark text-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto text-center">
				<li class="nav-item">
					<a class="nav-link nav-link-name active fw-bold" id="up" href="/">Accueil  
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-link-name fw-bold" href="{{ path('service.index') }}">Services</a>
				</li>
				<li class="nav-item">
						<a class="nav-link nav-link-name fw-bold" href="{{ path('car.index') }}">Voitures d'occasion</a>
					</li>				
		</ul>
			{% if not app.user %}
			<ul class="navbar-nav lg-me-1 d-lg-flex align-items-lg-end text-center">
				<li class="nav-item me-2 fw-bold">
					<a class="nav-link nav-link-name" href="/connexion">Connexion</a>
				</li>
				{% endif %}
				{# <li class="nav-item lg-me-4 fw-bold">
					<a class="nav-link nav-link-name" href="/inscription">Inscription</a>
				</li> #}
			</ul>
			
		</div>
	</div>
	<div class="d-flex">
		<ul class="navbar-nav me-auto">
			{% if app.user %}
				<li class="nav-item dropdown drop_user">
					<a class="nav-link dropdown-toggle fs-5 fw-bold name_link" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					{{ app.user.firstname }} {{ app.user.lastname }} 
					</a>
					<div class="dropdown-menu">
						{% if 'ROLE_ADMIN' in app.user.roles %}
							<a class="dropdown-item  fw-bold  fs-5" href="/admin">Tableau de bord</a>
						{% endif %}
						
						<a class="dropdown-item fw-bold my-2 text-center fs-5" href="{{ path('car.user_index') }}">Mon espace</a>
						<div class="dropdown-divider"></div>
    
						<a class="dropdown-item fw-bold my-2 text-center  fs-5" href="{{ path('security.logout') }}">Déconnextion</a>
							 	{% endif %}		
				</li>
			</div>
		</li>
	</ul>
</div></div></nav>