<div class="mt-4 d-flex flex-column  align-items-center  text-light text-center" data-aos="fade-up" data-aos-duration="1000">
	<h3 class="down_line_names py-3 text-center w-auto" >Nos horaires</h3>
<div class="table d-flex flex-column align-items-center">
				{% for schedule in schedules %}
				<div class="d-flex schedule_list text-capitalize fs-5 text-light">
					
						 {{ schedule.day }} :
						{% if schedule.openingTimeMorning %}
						{{ schedule.openingTimeMorning }}
							{% endif %}
							{% if schedule.closingTimeMorning %}
								- {{ schedule.closingTimeMorning }}
							{% endif %}
							
							{% if schedule.openingTimeEvening %}
							{{ schedule.openingTimeEvening }}
			
							{% endif %}
							{% if schedule.openingTimeEvening %}
							- {{ schedule.closingTimeEvening }}
								{% endif %}
								
							
							</div>
	 {% endfor %} 
	</div>
	</div>