{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
<div class="text-center">
<div class="d-flex">
<img src="/uploads/oil.jpg" alt="bg"
style="width: 100%; min-height: 100vh; z-index: -2; position: fixed; margin-top: -2%;" 
class="img-fluid mb-4 sm-h-50 bg_serv" />

</div>

<div class="d-flex flex-xs-column flex-lg-row justify-content-between" style="margin-top: -1.1%;">
<h1 class="fw-bold  serv_page_ttl fs-1 w-25 h-auto rounded" >Nos services <img src="/assets/images/fleche-droite.png" alt="bg"
style="width: 50px; height: 50px;" />
</h1>
<div class="bg-light p-2 rounded">
{% for service in services %}
<div class="d-flex flex-column ">
<a class=" serv_ttl_list" href="#{{ service.title }}">{{ service.title }}</a>
</div>
{% endfor %}
</div>
</div>
{# </div> #}

<div class="d-flex flex-column  align-items-center" 
style="padding: 15px; 
{# background: #D92332; #}
"  id="block_services_page">

<div class="d-flex flex-column align-items-center text-center flex-center" id="services_list_page">
 {% for service in services %}
 <p class="services_title_page  p-3 text-light mb-4 mt-4"  style="background: #D92332;" id="{{ service.title }}"> {{ service.title }}</p>
 <p class="services_txt  mb-4 mt-4 border pb-4 text-center  p-3"   style="background: #D92332;"> {{ service.description }} 
	<button type="button" ><a class="btn_up_serv" href="#up">&#x2B06;</a></button>
</p>

{% endfor %}
{% include "partials/_btn_contact.html.twig" %}
</div>
</div>
	<div class="row mt-4 mb-4">
			<div class="col-12">
				{% include "partials/_btn_up.html.twig" %}
				{% include "partials/_btn_home.html.twig" %}
			</div>
		</div>
			</div>
</div>

<div class="row mt-4">
			<div class="col-12">
				{% include "partials/_liens_schedule_address.html.twig" %}
			</div>
		</div>
{% endblock %}
