{% extends 'base.html.twig' %}

{% block title %}Comments{% endblock %}

{% block body %}
			{% for comment in comments %}
				{% if comment.isApproved %}
					<div class="comment flex justify-start mb-4">
						<div>
							<div class="block p-6 mx-4">
								<div class="md-ml-6">
                                <h5>{{ comment.subject|raw }}</h5>
                                <p class="text-dark fs-5">
										{{ comment.content|raw }}
									</p>
                                    <p>{{ comment.mark }}</p>
									<p>{{ comment.author }}</p>
									
								</div>
							</div>
						</div>
					</div>
					<hr class="mx-4">
				{% endif %}
			{% endfor %}
             <a href="{{ path('comment.new') }}">Create new</a>
{% endblock %}

