{% extends 'base.html.twig' %}

{% block title %}New comment{% endblock %}

{% block body %}
    <h1>Créer un commentaire</h1>

	<div class="mt-4 container">
		<div class="comments">
				<div class="comments__new">
					<div class="w-full-width">
						{{ form_start(commentForm) }}
                         {{ form_errors(commentForm) }}

                        
						  {{ form_row(commentForm.subject) }}

					
                        {{ form_row(commentForm.content) }}

                        
                        {{ form_row(commentForm.author) }}

                        {{ form_widget(commentForm.mark) }}
                     


						{{ form_row(commentForm.submit) }}
						{{ form_end(commentForm) }}
					</div>
				</div>


    <a href="{{ path('comment.index') }}">Vers les commenatires</a>
{% endblock %}
