{% extends 'base.html.twig' %}

{% block title %}Témoignage{% endblock %}

{% block body %}
    <h1>comment</h1>
    <div class="card-header">User numéro
							{{ comment.id }} - {{ comment.subject }} - {{ comment.content }} - 
								{{ comment.commentator }} - {{ comment.mark }}
							- {{ comment.isApproved() ? "Verifié" : "pas verifié"}}
						</div>

    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ comment.subject }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>Nom/Prénom</th>
                <td>{{ comment.commentator }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ comment.mark }}</td>
            </tr>
            <tr>
                <th>Approuver</th>
                <td>{{ form_row(comment.isApproved) }}</td>
            </tr>
        </tbody>
    </table> #}

    {# <a href="{{ path('comment.index') }}">Vers la liste</a> #}

    <a href="{{ path('comment.edit', {'id': comment.id}) }}">Modifier</a>

    {# {{ include('comment/_delete_form.html.twig') }} #}
{% endblock %}
