{% extends 'base.html.twig' %}

{% block title %}Modifier l'annonce{% endblock %}

{% block body %}
<div class="container car_new_container p-4 border"    
style="background: #d94350;">
   <h1 class="text-light">Modifier l'annonce</h1>
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.year) }}
    {{ form_row(form.km) }}
    {{ form_row(form.fuelType) }}
    {{ form_row(form.price) }}
    {{ form_row(form.color) }}
    {{ form_row(form.imageFile) }}

    <h3>Images</h3>
    <div class="d-flex justify-content-around">
    {% for image in car.images %}
    <div class="mt-2">
        <img src="{{ asset('assets/uploads/carPosts/mini/640x440-' ~ image.name) }}" 
        alt="{{ car.title }}" width="150" height="140">
        <a href="{{ path('delete_image', { id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
        </div>
    {% endfor %}
    </div>
    {{ form_row(form.images) }}


    {{ form_label(form.equipments) }}
    <br>
        <div class="choiceList-wrapper" style="border: none;">
                {% for field in form.equipments %}
                <div class="d-flex text-start slot text-light mt-4 fs-5"  style="min-width: 15%; margin-right: 20px; padding: 10px; box-shadow: 1px 5px 7px;  margin-bottom: 10px;  cursor: pointer;">
                    <div class="">{{ form_widget(field) }}</div>
                    <div class="ms-2">{{ form_label(field) }}</div>
                </div>
            {% endfor %}
        </div>					
    {{ form_label(form.options) }}
        <br>
        <div class="choiceList-wrapper" style="border: none;">
            {% for field in form.options %}
                    <div class="d-flex text-center text-light slot mt-4 fs-5 p-2" style="min-width: 15%; margin-right: 20px;  padding: 10px; margin-bottom: 10px; box-shadow: 1px 5px 5px; cursor: pointer;">
                        <div class="">{{ form_widget(field) }}</div>
                        <div class="ms-2">{{ form_label(field) }}</div>
                    </div>
            {% endfor %}
        </div>                       
    {{ form_row(form.width) }}
    {{ form_row(form.length) }}
    {{ form_row(form.height) }}
    {{ form_row(form.weight) }}
    {{ form_row(form.priceMin) }}
    {{ form_row(form.priceMax) }}

    {{ form_row(form.submit, { 'label': 'Modifier' }) }}
{{ form_end(form) }}


   

<div>
    <a href="{{ path('car.index') }}" class="my-4 fs-4 text-light to_posts">Vers les annonces</a>
 {% include "partials/_btn_up.html.twig" %}
</div>

    <div style="background: red; width: 100px;">{{ include('car/_delete_form.html.twig') }}</div>
  
    </div> </div>
        <div class="row mt-4">
			<div class="col-12">
				{% include "partials/_liens_schedule_address.html.twig" %}
			</div>
		</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('/assets/js/images.js') }}" defer></script>
{% endblock %}