{% extends 'base.html.twig' %}
{% block title %}
	Cars 
{% endblock %}

{% block body %}
{# {{dump(cars)}} #}
	<div class="container mt-4 d-flex flex-xs-column justify-content-center" 
	style="height: auto;"
	>
		<h1 class="text-center bg-light d-1 fw-bold" id="h1_car_index">Nos voitures d'occasion</h1>
		<h2 class="info" id="message_choice"></h2>
		{% if app.user %}
         <button type="button" class="btn_create mb-3 mt-4" style="width: 240px; background: #d94350;" class="text-center fs-4 fw-bold rounded mb-3"><a href="{{ path('car.new') }}" >Créer une annonce</a></button>
		{% endif %}
		<button type="button" class="btn_reload mb-4 fw-bold" id="btn_reload">Réinitialiser les filtres</button>
		{# </div> #}

		{# ******************range start****************** #}
		<div class="range_block d-flex justify-content-between">

		<div class="px-4">
		<label for="rangeKm" class="form-label fw-bold">Kilométrage</label>
<input type="range" class="form-range" min="10000" max="250000" step="1000" id="rangeKm" name="rangeKm"  onChange="showKm()">
<div class="fw-bold">
<span id="rangeKmMin"></span><span id="rangeKmVal"></span>
</div>

<br>
<button type="button" class="mb-4 fw-bold" id="kmReload">Réinitialiser</button>
</div>

<div class="px-4">
<label for="rangePrice" class="form-label fw-bold">Prix</label>
<input type="range" class="form-range" min="500" max="100000" step="100" id="rangePrice"  onChange="showPrice()">
<div class="fw-bold">
<span id="rangePriceMin"></span><span id="rangePriceVal"></span>
</div>
<br>
<button type="button" class="mb-4 fw-bold" id="priceReload">Réinitialiser</button>
</div>

<div class="px-4">
<label for="rangeYear" class="form-label fw-bold">Année</label>
<input type="range" class="form-range" min="1950" max="2023" step="1" id="rangeYear"  onChange="showYear()">
<div class="fw-bold">
<span id="rangeYearMin"></span><span id="rangeYearVal"></span>
</div>
<br>
<button type="button" class="mb-4 fw-bold" id="yearReload">Réinitialiser</button>
</div>

</div>
{# ******************range end****************** #}
<div class="d-flex flex-wrap"  id="carPosts_block">
		{# {% for car in pagination %} #}
			{% for car in cars %}
				<div class="card-body mb-3 text-sm-center car_info border rounded mx-3" style="background: #d9777f; max-width: 500px;">
					 {# <div class="card-body card_body"> #}
						<div class="car__image card-image">
						<p class="card-text text-light bg-dark rounded w-25 car_price_span"
						 >{{ car.price|raw }} €</p>
							<img
						 class="main_car_img mb-3"
							src="{{ vich_uploader_asset(car, 'imageFile') }}">
						</div>
						<h4 class="card-title">
						{{ car.title }}</h4>
					<span>Année : </span><p class="card-text fw-bold  car_year" value=""> {{ car.year|raw }}</p>
          <p class="card-text fw-bold">{{ car.fuelType|raw }}</p>
       	  <p class="card-text fw-bold car_km" value="">{{ car.km|raw }}<span> km</span></p>
					<hr>
					<p class="card-text text-black fw-bold car_price" value="">{{ car.price|raw }}<span> €</span></p>
					<p><a href="{{ path('car.show', {id: car.id}) }}" style="text-decoration: none;" class="fs-5 fw-bold text-light mt-3">Details</a></p>	
												
					</div>
				{# </div>  #}
				<br>
					{# {% endfor %} #}
			{% endfor %}
      {# <div class="text-center fs-5" style="margin-left: 16%;">
{{ knp_pagination_render(pagination) }}
</div> #}
</div></div>
<div class="row mt-4">
			<div class="col-12">
				{% include "partials/_liens_schedule_address.html.twig" %}
			</div>
		</div>
		{# *************************************** #}
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script>
	const car_info = document.getElementsByClassName("car_info");
	const rangeKm = document.getElementById("rangeKm");
	const rangePrice = document.getElementById("rangePrice");
	const rangeYear = document.getElementById("rangeYear");
	var car_km = document.getElementsByClassName("car_km");
	var car_price = document.getElementsByClassName("car_price");
	var car_year = document.getElementsByClassName("car_year");

	rangeKm.value = rangeKm.max;
	rangeKmMin.value = rangeKm.min;

	rangePrice.value = rangePrice.max;
	rangePriceMin.value = rangePrice.min;

	rangeYear.value = rangeYear.max;
	rangeYearMin.value = rangeYear.min;

	document.getElementById("rangeKmVal").innerHTML = rangeKmMin.value + "km" + " - " + rangeKm.value + "km";
	document.getElementById("rangePriceVal").innerHTML = rangePriceMin.value + "€" + " - " + rangePrice.value + "€";
	document.getElementById("rangeYearVal").innerHTML = rangeYearMin.value  + " - " + rangeYear.value;

	function showKm(){
		var x = document.getElementById("rangeKm").value;
	  rangeKmVal = document.getElementById("rangeKmVal").innerHTML = rangeKmMin.value + "km" + " - " + x + "km";
	}

	function showPrice(){
	var x = document.getElementById("rangePrice").value;
	 rangePriceVal = document.getElementById("rangePriceVal").innerHTML = rangePriceMin.value + "€" + " - " + x + "€";
	
}

function showYear(){
	var x = document.getElementById("rangeYear").value;
	 rangeYearVal = document.getElementById("rangeYearVal").innerHTML = rangeYearMin.value + " - " + x;
	
	
}

$(document).ready(function () {
		$(".car_info").addClass("visible"); 
 function kmChoice(){
var rangeKm = parseInt($("#rangeKm").val());
		var car_info = $(".car_info");
	  $(".car_km").each(function(){
				var car_km = parseInt($(this).text());
				if(car_km <= rangeKm){ 
						console.log("car km:" + car_km + ", range km:" + rangeKm);
						//si oui on choisi le prix
			priceChoice();
			yearChoice();
				}else if(car_km > rangeKm){
					$(this).parent().css("display", "none");
					
							$("#rangeKm").on("change", function(){
								$(".car_km").css("display", "block");
								$(".car_info").css("display", "block");
									priceChoice();
									yearChoice();
							});
							
				}else{console.log("Pas de voiture avec ces paramètres");	}
				}); 
 }
	$("#rangeKm").on("click", kmChoice);


	 
$("#kmReload").on("click", function(){
{# rangeKm.value = rangeKm.max;
document.getElementById("rangeKmVal").innerHTML = rangeKm.value; #}
location.reload(true);


});
function priceChoice(){
$("#rangePrice").on("click", function(){
						var rangePrice = parseInt($("#rangePrice").val());
						var car_info = $(".car_info");
						$(".car_price").each(function(){
						var car_price = parseInt($(this).text());
								if(car_price <= rangePrice){ 
										console.log("car_price:" + car_price + ", rangePrice:" + rangePrice);
								}else if(car_price > rangePrice){
									$(this).parent().css("display", "none");
										$("#rangePrice").on("change", function(){
											$(".car_price").css("display", "block");
											$(".car_info").css("display", "block");
												priceChoice();
												yearChoice();
													});
								
								}else{
									console.log("Pas de proposition avec ce prix");
							}
				}); 
 });
}
$("#rangePrice").on("click", priceChoice);

$("#priceReload").on("click", function(){
	{# rangePrice.value = rangePrice.max;
document.getElementById("rangePriceVal").innerHTML = rangePrice.value; #}
location.reload(true);
});

function yearChoice(){
$("#rangeYear").on("click", function(){
						var rangeYear = parseInt($("#rangeYear").val());
						var car_info = $(".car_info");
						$(".car_year").each(function(){
						var car_year = parseInt($(this).text());
								if(car_year <= rangeYear){ 
										console.log("car_year:" + car_year + ", rangeYear:" + rangeYear);
								}else if(car_year > rangeYear){
								$(this).parent().css("display", "none");
										$("#rangeYear").on("change", function(){
								$(".car_year").css("display", "block");
							$(".car_info").css("display", "block"); 
									yearChoice()
										});
								
								}else{
									console.log("Pas de propositions");
							}
				}); 
 });
}
$("#rangeYear").on("click", yearChoice);
						
$("#yearReload").on("click", function(){
	rangeYear.value = rangeYear.max;
document.getElementById("rangeYearVal").innerHTML = rangeYear.value;
});


$(".btn_reload").click(function () {
location.reload(true);
});
});

</script>

{% endblock %}