{% extends 'base.html.twig' %}

{% block title %}Créer une annonce{% endblock %}

{% block body %}
<div class="container car_new_container p-4 border"    
style="background: #d94350;"
data-aos="zoom-in" 
	data-aos-easing="linear"  
	data-aos-duration="500">

    <h1 class="text-light">Créer une annonce</h1>
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.year) }}
    {{ form_row(form.km) }}
    {{ form_row(form.fuelType) }}
    {{ form_row(form.price) }}
    {{ form_row(form.color) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.images) }}
 
    {{ form_label(form.equipments) }}
        <div class="choiceList-wrapper mt-4">
                {% for field in form.equipments %}
                <div class="d-flex text-start slot text-light mt-4 fs-5"  style="min-width: 15%; margin-right: 20px; padding: 10px; box-shadow: 1px 5px 7px;  margin-bottom: 10px;  cursor: pointer;">
                    <div class="">{{ form_widget(field) }}</div>
                    <div class="ms-2">{{ form_label(field) }}</div>
                </div>
            {% endfor %}
        </div>			
        <br>		
    {{ form_label(form.carOptions) }}
       
        <div class="choiceList-wrapper p-4">
            {% for field in form.carOptions %}
                    <div class="d-flex text-center text-light slot mt-4 fs-5 p-2" style="min-width: 15%; margin-right: 20px;  padding: 10px; margin-bottom: 10px; box-shadow: 1px 5px 5px; cursor: pointer;">
                        <div class="">{{ form_widget(field) }}</div>
                        <div class="ms-2">{{ form_label(field) }}</div>
                    </div>
            {% endfor %}
        </div>   
                         
    {{ form_row(form.width) }}
    {{ form_row(form.length) }}
    {{ form_row(form.height) }}
    {{ form_row(form.weight) }}
    {{ form_row(form.priceMin) }}
    {{ form_row(form.priceMax) }}

    {{ form_row(form.submit, { 'label': 'Créer' }) }}
    {{ form_end(form) }}

<div>
    <a href="{{ path('car.index') }}" class="fs-5 fw-bold text-light mt-4 to_posts">Vers les annonces</a>
    {% include "partials/_btn_up.html.twig" %}
  </div>   
     </div>   </div>  
    <div class="row mt-4">
			<div class="col-12">
				{% include "partials/_liens_schedule_address.html.twig" %}
			</div>
		</div>
 
   
{% endblock %}
