{% extends 'base.html.twig' %}

{% block title %}Voiture détails
{% endblock %}

{% block body %}
	{# <div style="height: 50px; z-index: -3;">{% include "partials/_show_bg.html.twig" %}
		</div> #}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

    

	<main class="container car_show_container bg-dark text-center h-100">
    <section class="row" >
    <div class="col-12 text-center">
		<h1 class="mt-4 mb-4 text-light">{{ car.title }}</h1>
        </div>
		 <div class="col-12">
			<div id="carouselExampleIndicators" class="carousel slide " 
			data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% for iteration in 1..car.images|length %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration - 1 }}" {{ (loop.first ) ?'class="active" aria-current="true"' : '' }} aria-label="Slide {{ iteration }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for image in car.images %}
                            <div class="carousel-item {{ (loop.first ) ? 'active' : '' }}  text-center">
                                <img src="{{ asset('assets/uploads/carPosts/mini/640x440-') ~ image.name }}" class="d-block gallery_img" alt="{{ car.title }}">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
          
<div class="car_info_show text-center mb-4">
		<h5 class="mt-3 text-light show_block_titles">Année:
			<span class="badge bg-primary">{{ car.year |raw }}</span>
		</h5>

		<h5 class="mt-3 text-light show_block_titles">Kilométrage
			<span class="badge bg-primary mt-1">{{ car.km }}
				km</span>
		</h5>


		<h5 class="mt-3 text-light show_block_titles">Carburant
			<span class="badge bg-primary mt-1">
				{{ car.fuelType  }}</span>
		</h5>

	<h5 class="mt-3 text-light show_block_titles">Couleur
			<span class="badge bg-primary mt-1">
				{{ car.color }}
			</span>
		</h5>

		<h5 class="mt-3 text-light show_block_titles">Prix
			<span class="badge bg-primary mt-1">
				{{ car.price }}
				€</span>
		</h5>

		<h5 class="mt-3 text-light show_block_titles">Vendeur
			<span class="badge bg-primary mt-1">
				{{ car.author }}
				</span>
		</h5>
			<div class="suppl_info_block">

			<div class="func mt-4">
			<button type="button rounded mb-4" id="caracter_btn">Caractéristiques</button>
			<div id="caracter" class="d-flex flex-column align-items-center justify-content-between">
			<div class="d-flex justify-content-between">
						<p class="border  mt-1 px-2 mx-2  text-light caract hidden">Largeur : 
				{{ car.width }} cm</p>
					<p class="border  mt-1 px-2 mx-2  text-light caract hidden">Longueur : 
				{{ car.length }} cm</p>
				</div>
				<div class="d-flex justify-content-between">
					<p class="border  mt-1 px-2 mx-2  text-light caract hidden">Hauteur : 
				{{ car.height }} cm</p>
					<p class="border  mt-1 px-2 mx-2  text-light caract hidden">Poids : 
				{{ car.weight }} kg</p>
				</div>
				<div class="d-flex justify-content-between">
					<p class="border  mt-1 px-2 mx-2  text-light caract hidden">Prix minimal : 
				{{ car.priceMin }} €</p>
					<p class="border  mt-1 px-2 mx-2 text-light caract hidden">Prix maximal : 
				{{ car.priceMax }} €</p>
				</div>
					{# </div> #}
						</div>
						</div>
			<div class="func mt-4">
			<button type="button rounded mb-4" id="opt_btn">Options</button>
			<div id="opt_block" class="d-flex flex-column align-items-center mt-4">
							{% for option in car.options %}
						<p class="border mt-1 p-3 text-light opt hidden w-auto">
				{{ option.name }} </p>
				{% endfor %}
				</div>
				</div>

			<div class="func mt-4">
			<button type="button rounded" id="equip_btn">Équipement</button>
			<div id="equip_block" class="d-flex flex-column align-items-center mt-4">
							{% for equipment in car.equipments %}
						<p class="border mt-1 p-3 text-light equip hidden w-50 text-center">
				{{ equipment.name }} </p>
				{% endfor %}
				</div>
				</div>
				</div>
				{# ********************************************* #}
	{% if app.user %}
	<h3 class="text-light mt-4">Demandes de contact</h3>
			 {% for contact in car.contacts %}
						<div class="comment flex justify-start mb-4">
							<div>
								<div class="block p-6 mx-4 border">
									
										<p class="text-light fs-5">Author : {{ contact.contacter }}</p>
										<p class="text-light fs-5">E-mail : 
											{{ contact.email|raw }}
										</p>
										<p class="text-light fs-5">Sujet : 
											{{ contact.subject|raw }}
										</p>
										<p class="text-light fs-5">Message : 
											{{ contact.message|raw }}
										</p>
										<p class="text-light fs-5">Téléphone : 
											{{ contact.phoneNumber|raw }}
										</p>
									</div>
								</div>
							</div>
						</div>
						<hr class="mx-4">
				{% endfor %}
		{% endif %}  
				{#********************Formulaire de contact*******************  #}
		<div class="func mt-4">
			<button type="button rounded" id="contact_btn">Contacter le vendeur</button>
				<div class="hidden text-light border w-100" id="contactForm">

							{{ form_start(contactForm) }}

							{{ form_row(contactForm.contacter) }}
							{{ form_row(contactForm.email) }}
							{{ form_row(contactForm.subject) }}
							{{ form_row(contactForm.message) }}
							{{ form_row(contactForm.phoneNumber) }}
							{{ form_row(contactForm.submit) }}
							{{ form_end(contactForm) }}
						
				
			</div>
			</div>
		
			 </section>
			{% if app.user %}
		<button type="button" class="btn">
			<a href="{{ path('car.edit', {'id': car.id}) }}" class="fs-4 py-2 fw-bold">Modifier</a>
		</button>
		{% endif %}
	</div>
	<button type="button" class="btn ">
		<a href="{{ path('car.index') }}" class="fs-4 py-2 to_post_list">Vers les annonces</a>
	</button>
	  </div>
	

	<div class="row mt-4 mb-4">
			<div class="col-12">
				{% include "partials/_btn_up.html.twig" %}
				{% include "partials/_btn_home.html.twig" %}
			</div>
		</div>
		</main>
<div class="row mt-4">
			<div class="col-12">
				{% include "partials/_liens_schedule_address.html.twig" %}
			</div>
</div>
	
{% endblock %}
