{% extends 'base.html.twig' %}
{% block title %}
	Mes annonces
{% endblock %}

{% block body %}
	<div class="container mt-4 d-flex flex-xs-column align-items-center" 
	style="height: auto;">
	{% for message in app.flashes('success') %}
			<div class="alert alert-success text-center fw-bold w-auto fs-4" style="z-index: 9;">
				{{ message }}
			</div>
		{% endfor %} 
	{% if app.user %}
		<h1 class="text-center bg-light d-1 fw-bold p-2 rounded" id="h1_car_index">Mes annonces</h1>
			<div class="d-flex justify-content-between p_user_btns">
         <button type="button" class="btn_create btn_p_user mt-4 text-center fw-bold rounded mb-3 me-2 fs-5" 
				 style="width: auto;"><a href="{{ path('car.new') }}">Créer une annonce</a></button>
				
				<button type="button" id="btn_comment_p_user" class="btn_create btn_p_user mt-4  text-center fw-bold rounded mb-3 me-2 fs-5" style="width: auto;">Créer un témoignage</button>

				<button type="button" class="btn_create btn_p_user mt-4 text-center fw-bold rounded mb-3 fs-5" id="btn_approvement"
				 style="width: auto;"><a href="#approvement_corps">Des témoignages à approuver</a></button>
			
			</div>
		{% endif %}
	
<div class="d-flex flex-wrap text-center row" id="carPosts_block">

    {% if app.user.cars %}
					{% for car in app.user.cars %}
					 <div class="card-body mb-3 text-xs-center car_info car_info_p_user border rounded  col-xs-12 col-sm-6 col-lg-4" style="display: block;">
						<div class="car__image card-image">
						<p class="card-text text-light bg-dark rounded w-50 car_price_span"
						 >{{ car.price|raw }} €</p>
							<img
						 class="main_car_img mb-3"
							src="{{ vich_uploader_asset(car, 'imageFile') }}">
						</div>
						<h4 class="card-title text-center">
						{{ car.title }}</h4>
					<span>Année : </span><p class="card-text fw-bold  car_year" value=""> {{ car.year|raw }}</p>
          <p class="card-text fw-bold">{{ car.fuelType|raw }}</p>
       	  <p class="card-text fw-bold car_km" value="">{{ car.km|raw }}<span> km</span></p>
					<hr>
					<p class="card-text text-black fw-bold car_price" value="">{{ car.price|raw }}<span> €</span></p>
					<p><a href="{{ path('car.show', {id: car.id}) }}" style="text-decoration: underscore;" class="fs-2 fw-bold text-light mt-3">Details</a></p>				
					</div>
				<br>
			{% endfor %}
      {% endif %}
			<div class="hidden p-4" id="commentNew_p_us">
					{% include "partials/_comment.html.twig" %}
					<button type="button" id="btn_comm_close" class="btn btn-danger border">Fermer</button>
				</div>
				</div>
</div></div></div>
<div>

<div class="text-center d-flex flex-wrap 
{# justify-content-between #}
" id="approvement_corps" style="display: none;">

			{% for comment in comments %}
				{% if comment.isApproved == 0 %}
				{% if comment.isProcessed == 0 %}
			
					<div class="comment comment_p_user mb-4 pt-3 rounded ms-2"  style="border: 1px solid darkgray; padding: 10px; width: 400px;">
						<div>
							<div class="block p-6">
								<div class="col-md-12">
                <h3  class="text-dark">{{ comment.subject|raw }}</h3>
								<input type="hidden" name="subject" class="comment_subject" value="{{ comment.subject|raw }}">
                  <p class="text-dark  mb-3 d-flex flex-wrap" style="font-size: 1.2em;" >
										{{ comment.content|raw }}
									</p>
                  <p class="text-dark mb-3"  style="font-size: 1.2em;">Note : {{ comment.mark }}/5</p>
									<p class="text-dark mb-3"  style="font-size: 1.2em;">{{ comment.commentator }}</p>
		
									<button class="btn btn-info me-4"><a class="text-light text-decoration-none fs-5" href="{{ path('comment.edit', {'id': comment.id}) }}">Approuver</a></button>
									{% if app.user.roles is same as "ROLE_ADMIN" %}
										<button class="btn btn-danger"><a class="text-light text-decoration-none fs-5" href="{{ path('comment.delete', {'id': comment.id}) }}">Supprimer</a></button>
									{% endif %}
									 
								</div>
							</div>
						</div>
					</div>
				
				{% endif %}
				{% endif %}
			{% endfor %}
				</div>	
				{# </div> #}
	<div class="row mt-4 mb-4">
			<div class="col-12">
				{% include "partials/_btn_up.html.twig" %}
				{% include "partials/_btn_home.html.twig" %}
			</div>
		</div>
<div class="row mt-4">
			<div class="col-12">
				{% include "partials/_liens_schedule_address.html.twig" %}
			</div>
		</div>

	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
	$(document).ready(function () {

$("#commentNew_p_us").addClass("hidden");
$("#btn_comment_p_user").click(function () {
$("#commentNew_p_us").removeClass("hidden");
$("#commentNew_p_us").css("position","absolute");
$("#commentNew_p_us").css("background-color","#d94350");
});
$("#btn_comm_close").click(function () {
			$("#commentNew_p_us").addClass("hidden");
});

$("#btn_approvement").on("input",function () {
$("#approvement_corps").css("display","block");

});
});
</script>
{% endblock %}