{% extends 'base.html.twig' %}
{% block title %}
	Mes annonces
{% endblock %}

{% block body %}
	<div class="container mt-4 d-flex flex-xs-column justify-content-center" 
	style="height: auto;"
	>{% if app.user %}
		<h1 class="text-center bg-light d-1 fw-bold" id="h1_car_index">Mes annonces</h1>
			<div class="d-flex justify-content-between">
         <button type="button" class="btn_create mb-3 mt-4" style="width: 240px; background: #d94350;" class="text-center fs-4 fw-bold rounded mb-3"><a href="{{ path('car.new') }}">Créer une annonce</a></button>
				 <h3 class="my-4">
					<button type="button rounded" id="btn_comment">Créer un commentaire</button>
				</h3>
				
			</div>
		{% endif %}
	
<div class="d-flex flex-wrap"  id="carPosts_block">

		{# {% for car in pagination %} #}
    {% if app.user.cars %}
					{% for car in app.user.cars %}
			
				<div class="card  mb-3 text-sm-center car_info">
					 <div class="card-body card_body">
						<div class="car__image card-image">
						<p class="card-text text-light bg-dark rounded w-50 car_price_span"
						 >{{ car.price|raw }} €</p>
							<img
						 class="main_car_img mb-3"
							src="{{ vich_uploader_asset(car, 'imageFile') }}">
						</div>
						<h4 class="card-title">
						{{ car.title }}</h4>
					<span>Année : </span><p class="card-text fw-bold  car_year" value=""> {{ car.year|raw }}</p>
          <p class="card-text fw-bold">{{ car.fuelType|raw }}</p>
       	  <p class="card-text fw-bold car_km" value="">{{ car.km|raw }}<span> km</span></p>
					<hr>
					<p class="card-text text-black fw-bold car_price" value="">{{ car.price|raw }}<span> €</span></p>
					<p><a href="{{ path('car.show', {id: car.id}) }}" style="text-decoration: underscore;" class="fs-2 fw-bold text-light mt-3">Details</a></p>	
												
					</div>
				</div> 
				<br>
			{% endfor %}
      {% endif %}
			<div class="hidden w-50 p-4" id="commentNew">
					{% include "partials/_comment.html.twig" %}
				</div>
				</div>
      {# <div class="text-center fs-5" style="margin-left: 16%;">
{{ knp_pagination_render(pagination) }}
</div> #}
	

</div></div></div>
	<div class="row mt-4 mb-4">
			<div class="col-12">
				{% include "partials/_btn_up.html.twig" %}
				{% include "partials/_btn_home.html.twig" %}
			</div>
		</div>
<div class="row mt-4">
			<div class="col-12">
				{% include "partials/_liens_schedule_address.html.twig" %}
			</div>
		</div>

	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
	$(document).ready(function () {
$("#btn_comment").click(function () {
$("#commentNew").removeClass("hidden");
$("#commentNew").css("position","absolute");
// $("#commentNew").css("z-index","5");
$("#commentNew").css("background-color","#d94350");

});
});
</script>
{% endblock %}