{% extends 'base.html.twig' %}
{% block title %}
	Mes annonces
{% endblock %}

{% block body %}
	<div class="container mt-4 d-flex flex-xs-column align-items-center
	{# justify-content-center #}
	" 
	style="height: auto;"
	>{% if app.user %}
		<h1 class="text-center bg-light d-1 fw-bold p-2 rounded" id="h1_car_index">Mes annonces</h1>
			<div class="d-flex justify-content-between">
         <button type="button" class="btn_create btn_p_user mt-4 text-center fw-bold rounded mb-3 me-2 fs-4" 
				 style="width: auto;"><a href="{{ path('car.new') }}">Créer une annonce</a></button>
				
				<button type="button" id="btn_comment_p_user" class="btn_create btn_p_user mt-4  text-center fw-bold rounded mb-3 me-2 fs-4" style="width: auto;">Créer un témoignage</button>

				<button type="button" class="btn_create btn_p_user mt-4 text-center fw-bold rounded mb-3 fs-4" id="btn_approvement"
				 style="width: auto;"><a href="#approvement_corps">Des témoignages à approuver</a></button>
			
			</div>
		{% endif %}
	
<div class="d-flex flex-xs-column flex-lg-row flex-wrap"  id="carPosts_block">

		{# {% for car in pagination %} #}
    {% if app.user.cars %}
					{% for car in app.user.cars %}
			
				<div class="card  mb-3 text-sm-center car_info mx-2">
					 <div class="card-body card_body text-center">
						<div class="car__image card-image">
						<p class="card-text text-light bg-dark rounded w-50 ps-2 car_price_span"
						 >{{ car.price|raw }} €</p>
							<img
						 class="main_car_img mb-3"
							src="{{ vich_uploader_asset(car, 'imageFile') }}">
						</div>
						<h4 class="card-title text-center">
						{{ car.title }}</h4>
					<span>Année : </span><p class="card-text fw-bold  car_year" value=""> {{ car.year|raw }}</p>
          <p class="card-text fw-bold">{{ car.fuelType|raw }}</p>
       	  <p class="card-text fw-bold car_km" value="">{{ car.km|raw }}<span> km</span></p>
					<hr>
					<p class="card-text text-black fw-bold car_price" value="">{{ car.price|raw }}<span> €</span></p>
					<p><a href="{{ path('car.show', {id: car.id}) }}" style="text-decoration: underscore;" class="fs-2 fw-bold text-light mt-3">Details</a></p>	
												
					</div>
				</div> 
				<br>
			{% endfor %}
      {% endif %}
			<div class="hidden p-4" id="commentNew">
					{% include "partials/_comment.html.twig" %}
				</div>
				</div>
      {# <div class="text-center fs-5" style="margin-left: 16%;">
{{ knp_pagination_render(pagination) }}
</div> #}
	

</div></div></div>
<div>

<div class="text-center d-flex flex-wrap justify-content-between" id="approvement_corps" style="display: none;">

			{% for comment in comments %}
				{% if comment.isApproved == 0 %}
				{% if comment.isProcessed == 0 %}
			
					<div class="comment  mb-4 pt-3 rounded ms-2"  style="border: 1px solid darkgray; padding: 10px; width: 400px;">
						<div>
							<div class="block p-6">
								<div class="col-md-12">
                <h3  class="text-dark">{{ comment.subject|raw }}</h3>
								<input type="hidden" name="subject" class="comment_subject" value="{{ comment.subject|raw }}">
                  <p class="text-dark  mb-3 d-flex flex-wrap" style="font-size: 1.2em;" >
										{{ comment.content|raw }}
									</p>
                  <p class="text-dark mb-3"  style="font-size: 1.2em;">Note : {{ comment.mark }}/5</p>
									<p class="text-dark mb-3"  style="font-size: 1.2em;">{{ comment.commentator }}</p>
		
									<button class="btn btn-info me-4"><a class="text-light text-decoration-none fs-5" href="{{ path('comment.edit', {'id': comment.id}) }}">Approuver</a></button>
									{% if app.user.roles is same as "ROLE_ADMIN" %}
										<button class="btn btn-danger"><a class="text-light text-decoration-none fs-5" href="{{ path('comment.delete', {'id': comment.id}) }}">Supprimer</a></button>
									{% endif %}
									 
								</div>
							</div>
						</div>
					</div>
				
				{% endif %}
				{% endif %}
			{% endfor %}
				</div>	
				{# </div> #}
	<div class="row mt-4 mb-4">
			<div class="col-12">
				{% include "partials/_btn_up.html.twig" %}
				{% include "partials/_btn_home.html.twig" %}
			</div>
		</div>
<div class="row mt-4">
			<div class="col-12">
				{% include "partials/_liens_schedule_address.html.twig" %}
			</div>
		</div>

	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
	$(document).ready(function () {

$("#commentNew").addClass("hidden");
$("#btn_comment_p_user").click(function () {
$("#commentNew").removeClass("hidden");
$("#commentNew").css("position","absolute");
$("#commentNew").css("background-color","#d94350");

});

$("#btn_approvement").on("input",function () {
$("#approvement_corps").css("display","block");

});
});
</script>
{% endblock %}