{% extends 'base.html.twig' %}

{% block title %}Options{% endblock %}

{% block body %}
    <h1>Option index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carOption in carOptions %}
            <tr>
                <td>{{ carOption.id }}</td>
                <td>{{ carOption.name }}</td>
                <td>
                    <a href="{{ path('app_carOption_show', {'id': carOption.id}) }}">Voir</a>
                    <a href="{{ path('app_carOption_edit', {'id': carOption.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_carOption_new') }}">Create new</a>
{% endblock %}
