{% extends 'base.html.twig' %}

{% block title %}Option{% endblock %}

{% block body %}
    <h1>Option</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carOption.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ carOption.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_carOption_index') }}">Vers la liste</a>

    <a href="{{ path('app_carOption_edit', {'id': carOption.id}) }}">Modifier</a>

    {{ include('carOption/_delete_form.html.twig') }}
{% endblock %}
